<div id="residentCreateForm" class="row residentCreateForm">
  <form class="col s12 inner-form" novalidate [formGroup]="residentModel" class="inner-form"
        (ngSubmit)="onSubmit(residentModel)" autocomplete="off">
    <div class="row bottom10">
      <div class="col s12 m5">
        <label>Facility Location *</label>
        <select class="browser-default" formControlName="facilityID">
          <option value="" selected disabled>Select facility</option>
          <option *ngFor="let f of facilityList" [value]="f.id">{{f.name}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m4">
        <input id="firstName" type="text" formControlName="firstName">
        <label for="firstName">
          Resident’s name: (Must have unique name.)</label>
        <span class="error">
             <span *ngIf="residentModel.get('firstName').hasError('required')
               && residentModel.get('firstName').touched"> * Name is required
             </span>
          </span>
      </div>

      <div class="input-field col s12 m4">
        <input id="lastName" type="text" formControlName="lastName">
        <label for="lastName">Last Name</label>
        <span class="error">
             <span *ngIf="residentModel.get('lastName').hasError('required')
               && residentModel.get('lastName').touched"> * Last Name is required
             </span>
          </span>
      </div>

      <div class="input-field col s12 m4">
        <synkwise-input-date id="dateOfAdmission" [defaultDate]="residentForEdit.dateOfAdmission" [inputName]="dateOfAdmission"
                             (setDateMethod)="setDateAdmission($event)"></synkwise-input-date>
        <label for="dateOfAdmission" [ngClass]="{'active': residentModel.get('dateOfAdmission')}">Date of
          admission</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s16 m4">
        <input id="address" type="text" formControlName="address">
        <label for="address">Resident’s current address</label>
      </div>

      <div class="input-field col s6 m3">
        <input id="city" type="text" formControlName="city">
        <label for="city">City</label>
      </div>

      <div class="input-field col s6 m1">
        <input id="state" type="text" formControlName="state">
        <label for="city">State</label>
      </div>

      <div class="input-field col s6 m1">
        <input id="zipCode" type="text" formControlName="zipCode">
        <label for="city">Zip code</label>
      </div>

      <div class="input-field col s6 m3">
        <input id="phone" type="text" maxlength="50" formControlName="phone"
               [textMask]="{mask: phoneMask}">
        <label for="phone">Phone Number</label>
        <span class="error icon-field">
                      <span *ngIf="residentModel.get('phone').hasError('notPhone')">
                        * Incorrect phone
                      </span>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m8">
        <input id="livingSituation" type="text" formControlName="livingSituation">
        <label for="livingSituation">Resident’s current living situation</label>
      </div>

      <div class="input-field col s12 m4">
        <input id="livingDuration" type="text" formControlName="livingDuration">
        <label for="livingDuration">How long?</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m8">
        <input id="primaryCaregiver" type="text" formControlName="primaryCaregiverFirstName">
        <label for="primaryCaregiver">Resident’s current primary caregiver:</label>
      </div>

      <div class="input-field col s12 m4">
        <!--<input id="primaryCaregiverPhone" type="text" formControlName="primaryCaregiverPhone">-->
        <input id="primaryCaregiverPhone" type="text" maxlength="50" formControlName="primaryCaregiverPhone"
               [textMask]="{mask: phoneMask}">
        <label for="primaryCaregiverPhone">Phone Number</label>
      </div>
    </div>

    <div class="row center">
      <button class="btn waves-effect waves-light light-green" type="submit">
        <!--[disabled]="residentModel.invalid">-->
        Save new Resident
      </button>
      <a class="mat-button marginLeft20" *ngIf="!residentForEdit.id" [routerLink]="['/resident/home']">Back</a>
      <a class="mat-button marginLeft20" *ngIf="residentForEdit.id > 0" routerLink="/resident/details/{{residentForEdit?.id}}">Back</a>
    </div>

  </form>
</div>
