<div class="row login section">
  <form novalidate [formGroup]="form" class="col s12 inner-form" (ngSubmit)="onSubmit(form)">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">perm_identity</i>
        <input id="email" type="email" formControlName="email" maxlength="255">
        <label for="email">Email</label>
        <span class="error icon-field">
          <span *ngIf="form.get('email').hasError('required') && form.get('email').touched">
            * Email is required
          </span>
           <span *ngIf="form.get('email').hasError('notEmail')">
            * Incorrect email
          </span>
          <span class="error"
                *ngIf="form.get('email').touched && form.get('email').hasError('maxlength')">
                    <span>* Email max-length is 255 characters </span>
           </span>
        </span>
      </div>
    </div>

    <div class="row center">
      <button class="btn waves-effect waves-light  light-green" type="submit" [disabled]="form.invalid">Forgot
        password
      </button>
      <a class="mat-button marginLeft20" [routerLink]="['/authentication/login']" >Back to Log-in screen</a>
    </div>
  </form>
</div>
