<div id="userProfileTabID">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <div class="row">
            <div class="col s12 m12">
              <table class="responsive-table">
                <thead>
                <tr>
                  <th>Resident’s current address</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Zip code</th>
                  <th>Phone number</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                  <td>{{itemProfileDetails?.contact.city}}, {{itemProfileDetails?.contact.address}}</td>
                  <td>{{itemProfileDetails?.contact.city}}</td>
                  <td>{{itemProfileDetails?.contact.state}}</td>
                  <td>{{itemProfileDetails?.contact.zipcode}}</td>
                  <td>{{itemProfileDetails?.contact.phone}}</td>
                </tr>
                </tbody>

                <thead>
                <tr>
                  <th>Date of admission</th>
                  <th>Date of birth</th>
                  <th>Height (ft-in)</th>
                  <th>Weight (lbs)</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                  <td>{{itemProfileDetails?.dateOfAdmission | date: 'MM/dd/yyyy'}}</td>
                  <td>{{itemProfileDetails?.dateOfAdmission | date: 'MM/dd/yyyy'}}</td>
                  <td>{{itemProfileDetails?.height}}</td>
                  <td>{{itemProfileDetails?.weight}}</td>
                </tr>
                </tbody>

                <thead>
                <tr>
                  <th>Resident’s current living situation</th>
                  <th>How long?</th>
                  <th>Resident’s current primary caregiver</th>
                  <th>Phone number</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                  <td>{{itemProfileDetails?.livingSituation}}</td>
                  <td>{{itemProfileDetails?.livingDuration}}</td>
                  <td>{{itemProfileDetails?.primaryCaregiverContactID}}</td>
                  <td>{{itemProfileDetails?.city}}</td>
                </tr>
                </tbody>

                <thead>
                <tr>
                  <th>Medicare #</th>
                  <th>Medicaid #</th>
                  <th>VA #</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                  <td>{{itemProfileDetails?.medicareNumber}}</td>
                  <td>{{itemProfileDetails?.medicAidNumber}}</td>
                  <td>{{itemProfileDetails?.vaNumber}}</td>
                </tr>
                </tbody>

                <thead>
                <tr>
                  <th>Insurance</th>
                  <th>Claim number</th>
                  <th>Case manager</th>
                  <th>Phone number</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                  <td>{{itemProfileDetails?.insurance}}</td>
                  <td>{{itemProfileDetails?.insuranceClaimNumber}}</td>
                  <td>{{itemProfileDetails?.caseManagerContactID}}</td>
                  <td>{{itemProfileDetails?.city}}</td>
                </tr>
                </tbody>
              </table>

              <table>
                <thead>
                <tr>
                  <th>Medical diagnosis (including illness and injury)</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                  <td>{{itemProfileDetails?.medicalDiagnosis}}</td>
                </tr>
                </tbody>

                <thead>
                <tr>
                  <th>Behavioral conditions (including distressing, disruptive or potentially harmful symptoms)</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                  <td>{{itemProfileDetails?.behavioralConditions}}</td>
                </tr>
                </tbody>


                <thead>
                <tr>
                  <th>Medications (including over-the-counter medications and supplements)</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                  <td>{{itemProfileDetails?.medications}}</td>
                </tr>
                </tbody>

                <thead>
                <tr>
                  <th>Treatments and therapies</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                  <td>{{itemProfileDetails?.treatments}}</td>
                </tr>
                </tbody>

                <thead>
                <tr>
                  <th>POLST (Physicians Orders for Life Supporting Treatment) {{itemProfileDetails?.advancedHealthCareDirective}}</th>
                </tr>
                </thead>

                <thead>
                <tr>
                  <th>Advanced health care directive {{itemProfileDetails?.polst}}</th>
                </tr>
                </thead>

                <thead>
                <tr>
                  <th>Mortuary/funeral plan</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                  <td>{{itemProfileDetails?.funeralPlan}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
