Synkwise/.vs/Synkwise/v15/
Synkwise/Synkwise.Repository/obj/
Synkwise/Synkwise.Core/obj/
Synkwise/Synkwise.BLL/obj/
Synkwise/Synkwise.Core/bin/
Synkwise/Synkwise.BLL/bin/
Synkwise/Synkwise.Repository/bin/
Synkwise/Synkwise.API/LogFolder/
Synkwise/Synkwise.API/obj/
node_modules/
Synkwise/Synkwise.API/bin/
Synkwise/.idea
