<div class="row login">
  <form novalidate [formGroup]="user" class="col s12 inner-form" (ngSubmit)="onSubmit(user)">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">perm_identity</i>
        <input id="email" type="email" formControlName="email" maxlength="255">
        <label for="email">Email</label>
        <span class="error icon-field">
           <span *ngIf="user.get('email').hasError('required') && user.get('email').touched">
            * Email is required
           </span>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">lock_outline</i>
        <input id="password" type="password" formControlName="password">
        <label for="password">Password</label>
        <span class="error icon-field">
          <span *ngIf="user.get('password').hasError('required') && user.get('password').touched">
            * Password is required
          </span>
        </span>
      </div>
    </div>
    <div class="row center">
      <button class="btn waves-effect waves-light  light-green" type="submit" [disabled]="user.invalid">Login
      </button>
    </div>
  </form>
</div>
