<div class="row">

  <div class="col s12 m4">
    <i class="material-icons center" (click)="listResidents()">people</i>
    <p class="promo-caption center">RESIDENTS</p>
    <p class="light center">Information about the residents of this home</p>
  </div>
  <div class="col s12 m4">
    <i class="material-icons center">people_outline</i>
    <p class="promo-caption center">STAFF</p>
    <p class="light center">Information about the staff working in this home</p>
  </div>
  <div class="col s12 m4">
    <i class="material-icons center">insert_drive_file</i>
    <p class="promo-caption center">DOCUMENTS</p>
    <p class="light center">The documents connected with this home</p>
  </div>
</div>
<!--<md-icon (click)="changeIcon('star')>{{icon}}</md-icon>-->
