<!--<form novalidate formGroup="userProfileForm" class="inner-form" autocomplete="off">-->
<div id="userProfileID" class="row login page-content">
  <form novalidate [formGroup]="userProfileForm" class="inner-form" (ngSubmit)="onSubmit(userProfileForm)"
        autocomplete="off">

    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <div class="col s12">
            <div class="inner">
              <h3 class="clear text-uppercase teal-text">User Profile</h3>
              <div class="row">
                <div class="input-field col s12 m6">
                  <input id="firstName" type="text" maxlength="50" formControlName="firstName">
                  <label for="firstName">First Name *</label>
                  <span class="error"
                        *ngIf="userProfileForm.get('firstName').hasError('required') && userProfileForm.get('firstName').touched">
                  <span>* First Name is required </span>
                  </span>
                  <span class="error"
                          *ngIf="userProfileForm.get('firstName').touched && userProfileForm.get('firstName').hasError('maxlength')">
                    <span>* First Name max-length is 50 characters </span>
                  </span>
                </div>
                <div class="input-field col s12 m6">
                  <input id="lastName" type="text" maxlength="50" formControlName="lastName">
                  <label for="lastName">Last Name *</label>
                  <span class="error"
                        *ngIf="userProfileForm.get('lastName').hasError('required') && userProfileForm.get('lastName').touched">
                  <span>* Last Name is required </span>
                  </span>
                  <span class="error"
                        *ngIf="userProfileForm.get('lastName').touched && userProfileForm.get('lastName').hasError('maxlength')">
                    <span>* Last Name max-length is 50 characters </span>
                  </span>
                </div>

                <div class="input-field col s12 m6">
                  <input id="address" type="text" maxlength="50" formControlName="address">
                  <label for="address">Address *</label>
                  <span class="error"
                        *ngIf="userProfileForm.get('address').hasError('required') && userProfileForm.get('address').touched">
                  <span>* Last Name is required </span>
                  </span>
                  <span class="error"
                        *ngIf="userProfileForm.get('address').touched && userProfileForm.get('address').hasError('maxlength')">
                    <span>* Address max-length is 150 characters </span>
                  </span>
                </div>
                <div class="input-field col s6 m2">
                  <input id="city" type="text" maxlength="50" formControlName="city">
                  <label for="city">City *</label>
                </div>
                <div class="input-field col s6 m2">
                  <input id="state" type="text" maxlength="50" formControlName="state">
                  <label for="state">State *</label>
                </div>
                <div class="input-field col s12 m2">
                  <input id="zipCode" type="text" maxlength="50" formControlName="zipCode">
                  <label for="zipCode">ZipCode *</label>
                </div>

                <div class="input-field col s12 m6">
                  <input id="email" type="email" maxlength="50" formControlName="email">
                  <label for="email">Email *</label>
                </div>

                <div class="input-field col s6 m3">
                  <input id="profilePhone" type="text" maxlength="50" formControlName="phoneNumber" [textMask]="{mask: phoneMask}">
                  <label for="profilePhone">Phone Number *</label>
                  <span class="error icon-field">
                      <span *ngIf="userProfileForm.get('phoneNumber').hasError('required') && userProfileForm.get('phoneNumber').touched">
                        * Phone Number is required
                      </span>
                      <span *ngIf="userProfileForm.get('phoneNumber').hasError('notPhone')">
                        * Incorrect phone
                      </span>
                    </span>
                </div>
                <div class="input-field col s6 m3">
                  <input id="profileFax" type="text" maxlength="50" formControlName="faxNumber">
                  <label for="profileFax">Fax Number</label>
                </div>

              </div>
            </div>
            <div class="clear"></div>
          </div>
          <button class="btn waves-effect waves-light teal" type="submit">Save
          </button>
          <!--disabled="userProfileForm.invalid"-->
          <a class="mat-button marginLeft20" [routerLink]="['/provider/dashboard']">Back</a>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </form>
</div>
