.facility-for-chip {
  margin-top: 18px;
}

.delete-btn {
  padding: 0;
  margin-right: 0 !important;
}

.edit-btn {
  padding: 0;
  margin-right: 0 !important;
}
.collection.with-header .collection-header {
  color: #3a87ad;
  background-color: #d9edf7;
}
