.login-inner{
  width:340px;
  margin:0 auto;
}
.login .card-content {
  padding: 0px 20px 5px;
}
.login .card-content .btn{
  margin-top:10px;
}
.card-logo {
  padding: 35px 0 30px;
}

.card-logo img {
  max-width: 200px;
}

.card-footer {
  background-color: #f5f5f5;
  font-size: 13px;
}

@media screen and (max-width: 600px) {
  .login-inner{
    width:100%;
  }
}


