<form novalidate [formGroup]="facilityForm" class="inner-form" (ngSubmit)="onSubmit(facilityForm)" autocomplete="off">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <div class="col s12">
          <div class="inner">
            <h3 class="clear text-uppercase teal-text">Facility Information</h3>
            <div class="row">
              <div class="input-field col s12">
                <input id="facilityName" type="text" maxlength="50" formControlName="name">
                <label for="facilityName" >Facility Name *</label>
              </div>
              <div class="input-field col s12">
                <input id="facilityPhone" type="text" maxlength="50" formControlName="phoneNumber">
                <label for="facilityPhone" >Phone Number *</label>
              </div>
              <div class="input-field col s12">
                <input id="facilityFax" type="text" maxlength="50" formControlName="faxNumber">
                <label for="facilityFax" >Fax Number</label>
              </div>
              <div class="input-field col s12">
                <input id="facilityAddress" type="text" maxlength="50" formControlName="address">
                <label for="facilityAddress" >Address *</label>
              </div>
              <div class="input-field col s12">
                <input id="facilityCity" type="text" maxlength="50" formControlName="city">
                <label for="facilityCity" >City *</label>
              </div>
              <div class="input-field col s12">
                <input id="facilityState" type="text" maxlength="50" formControlName="state">
                <label for="facilityState" >State *</label>
              </div>
              <div class="input-field col s12">
                <input id="facilityZip" type="text" maxlength="50" formControlName="zipcode">
                <label for="facilityZip" >Zip Code *</label>
              </div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <button class="btn waves-effect waves-light teal" type="submit">Save</button>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</form>
