<div class="card narrow visitors-locations">
  <div class="card-content">
    <div class="col x12">
      <h4>Invitations</h4>
    </div>
    <div class="col x12 m12">
      <table class="bordered lighter responsive table" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
          <th>ID</th>
          <th>
            <span class="headerLink" (click)="setSortOrder('emailTo')">Email
            <i [ngClass]="{'st-sort-ascent': (gridParam.sortColumn == 'emailTo' && gridParam.sortDirection == 'Asc'),
                'st-sort-descent': (gridParam.sortColumn == 'emailTo' && gridParam.sortDirection == 'Desc')}"></i>
            </span>
          </th>
          <th>
            <span class="headerLink" (click)="setSortOrder('roleId')">Role
            <i [ngClass]="{'st-sort-ascent': (gridParam.sortColumn == 'roleId' && gridParam.sortDirection == 'Asc'),
                'st-sort-descent': (gridParam.sortColumn == 'roleId' && gridParam.sortDirection == 'Desc')}"></i>
            </span>
          </th>
          <th>Provider</th>
          <th>
            <span class="headerLink" (click)="setSortOrder('generatedDate')">Send Date
            <i [ngClass]="{'st-sort-ascent': (gridParam.sortColumn == 'generatedDate' && gridParam.sortDirection == 'Asc'),
                'st-sort-descent': (gridParam.sortColumn == 'generatedDate' && gridParam.sortDirection == 'Desc')}"></i>
            </span>
          </th>
          <th>Activated Date</th>
          <th><span class="headerLink" (click)="setSortOrder('confirmationDate')">Is Used
            <i [ngClass]="{'st-sort-ascent': (gridParam.sortColumn == 'confirmationDate' && gridParam.sortDirection == 'Asc'),
                'st-sort-descent': (gridParam.sortColumn == 'confirmationDate' && gridParam.sortDirection == 'Desc')}"></i>
            </span>
          </th>
        </tr>
        </thead>

        <tbody>
        <tr class="noMargin">
          <th></th>
          <th>
            <input-search [inputname]="'searchByEmail'" [inputColumnSearchName]="'emailSearch'"
                          [inputPlaceholder]="'Search by email'"
                          (inputSearchMethod)="setSearch($event, $event)"></input-search>
          </th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr *ngFor="let invitation of gridData">
          <td class="col s1">{{invitation.id}}</td>
          <td title="{{invitation.emailTo}}">{{invitation.emailTo.length > 30 ? invitation.emailTo.substring(0,30)+"..." : invitation.emailTo }}</td>
          <td>{{invitation.roleId}}</td>
          <td>{{invitation.providerId}}</td>
          <td>{{invitation.generatedDate | date: 'MM/dd/yyyy'}}</td>
          <td>{{invitation.confirmationDate | date: 'MM/dd/yyyy'}}</td>
          <td><span [ngClass]="{'green accent-3': invitation.confirmationDate, 'red': !invitation.confirmationDate}">{{invitation.confirmationDate ? 'Yes' : 'No'}}</span>
            <a [routerLink]="['/management/invitation/edit']" [queryParams]="{ id: invitation.id }"
               title="Edit/Renew Invitation"
               *ngIf="(!invitation.confirmationDate && !checkInvitationStatus(invitation.generatedDate))">
              <i class="material-icons">autorenew</i>
            </a>
          </td>
          <!--<td>-->
          <!--<button class="save" title="Edit Invitation">-->
          <!--<a class="link" [routerLink]="['/management/invitation/edit']"-->
          <!--[queryParams]="{ id: invitation.id }">Edit</a></button>-->
          <!--</td>-->
        </tr>
        </tbody>

      </table>
      <!-- pager -->
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
      </ul>
    </div>
  </div>
</div>
