<div class="row">
  <div class="login-inner col m6 offset-m3">
    <div class="card login">
      <div class="card-logo center">
        <img src="assets/logo.png" alt="SYNKWISE"/>
      </div>
      <div class="card-content">
        <span class="card-title">Create new SynkWise account</span>
        <register-form (registerUser)="registerUser($event)" [invitationEmail]="$invitationEmail"
                       [expiredCode]="expiredCode"></register-form>
      </div>
    </div>
  </div>
</div>

<!--<ncompass-wifi-loader [display]="isLoading$ | async"></ncompass-wifi-loader>-->
