<div class="menu-wrapper" #residentPanelID>
  <ul class="menu collection">
    <li class="item" *ngFor="let resident of residentList">
      <a class="waves-effect waves-light btn-large slideImage" (click)="goToResident(resident.id)">
        <img src="{{resident.photo}}" alt=""
             class="circle responsive-img material-icons left"/>
        {{resident.fullName}}</a>
    </li>
  </ul>

  <div class="paddles">
    <button (click)="previousItem()" class="left-paddle paddle" [hidden]="hideLeftBtn">
      <
    </button>
    <button (click)="nextItem()" class="right-paddle paddle" [hidden]="hideRightBtn">
      >
    </button>
  </div>

</div>

