* {
  padding: 0;
  margin: 0;
}

.menu-wrapper {
  position: relative;
  max-width: 1060px;
  height: 90px;
  /*/ / hide the scroll bar margin: 1 em auto;*/
  border: 1px solid black;
  overflow-x: hidden;
  overflow-y: hidden;
  /*margin-left: 3em;*/
  margin-right: -3em;
}

.menu {
  height: 130px;
  /*/ / hide the scroll bar background: #f3f3f3;*/
  box-sizing: border-box;

  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.menu .item {
  display: inline-block;
  width: 150px;
  height: 100%;
  outline: 1px dotted gray;
  padding: 1em;
  box-sizing: border-box;
}

.paddles {
}

.paddle {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 3em;
  z-index: 5;
}

button.paddle  {
  /*display: block;*/
  margin: 0 auto;
  max-width: 200px;
  background: #fff; /* fallback color for old browsers */background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
}

button.paddle:hover {
  background: #fff; /* fallback color for old browsers */background: rgba(255, 255, 255, 0.9);
}

.left-paddle {
  left: 0;
}

.right-paddle {
  right: 0;
}

.hidden {
  display: none;
}

.print {
  margin: auto;
  max-width: 500px;
}

.print span {
  display: inline-block;
  width: 100px;
}

.responsive-img{
  max-width: 40%;
}

.slideImage{
  max-width: 120px;
}

.waves-effect {
  border-radius: 15px;
}

img.circle{
  top: 3px;
}
