<div class="row page-content">
  <div class="login-inner col m6 offset-m3">
    <div class="card login">
      <div class="card-content">
        <span class="card-title">Forgot Your Password?</span>
        <p>Please enter your email address below. You will receive a link to reset your password.</p>
        <forgotpw-form (forgotPassword)="forgotPassword($event)"></forgotpw-form>
      </div>
    </div>
  </div>
</div>

<!--<ncompass-wifi-loader [display]="isLoading$ | async"></ncompass-wifi-loader>-->
