<div class="row">
  <div class="createResident-inner col m12">
    <div class="card createResident">
      <div class="card-content" *ngIf="!this.residentID">
        <span class="card-title">Create New Resident</span>
        <resident-create-form [facilityList]="facilityList" (createResident)="createResident($event)"
        [residentForEdit]="residentForEdit"></resident-create-form>
      </div>

      <div class="card-content" *ngIf="this.residentID">
        <span class="card-title">Edit Resident</span>
        <resident-edit-form [facilityList]="facilityList" (createResident)="createResident($event)"
                              [residentForEdit]="residentForEdit"></resident-edit-form>
      </div>
    </div>
  </div>
</div>
