<div id="initialCarePlanTabID">
  <div class="col s12 m12">
    <form class="col s12 inner-form" novalidate class="inner-form"
          (ngSubmit)="onSubmit(initialDetails)" autocomplete="off">
      <div class="row">
        <div class="input-field col s12 m4">
          <!--<synkwise-input-date id="dateInitialPlan" [defaultDate]="initialDetails.initialDate"-->
          <!--(setDateMethod)="setDateInitialPlan($event)"-->
          <!--[inputName]="dateInitialPlan"></synkwise-input-date>-->
          <!--<label for="dateInitialPlan" [ngClass]="{'active': itemInitialDetails.get('initialDate')}">Date of-->
          <!--initial care plan</label>-->
        </div>

        <div class="input-field col s12 m4">
          <input id="firstName" type="text" >
          <!--formControlName="firstName">-->
          <label for="firstName">
            Completed by</label>
          <!--<span class="error">-->
             <!--<span *ngIf="itemInitialDetails.get('firstName').hasError('required')-->
               <!--&& itemInitialDetails.get('firstName').touched"> * Completed by is required-->
             <!--</span>-->
          <!--</span>-->
        </div>

        <div class="input-field col s12 m4">
          <input id="lastName" type="text">
                 <!--formControlName="lastName">-->
          <label for="lastName">Licensee name</label>
          <!--<span class="error">-->
             <!--<span *ngIf="itemInitialDetails.get('lastName').hasError('required')-->
               <!--&& itemInitialDetails.get('lastName').touched"> * Licensee Name is required-->
             <!--</span>-->
          <!--</span>-->
        </div>
      </div>

      <div class="row">
        <h5 class="title">Activities of Daily Living (ADLs)</h5>
        <span>
              Activities of Daily Living mean those personal functional activities identified below that are required for
        continued well-being and essential for health and safety. Independent means the resident does not meet the definition of
        Assist or Full assist when preforming any phase of the ADL. Assist means even with assistive devices, the resident is unable
        to accomplish some tasks of the ADL without hands-on assistance for part of the task, cueing during the activity or stand-by
        presence during the activity. Full assist means even with assistive devices, the resident is unable to accomplish any task of the
        ADL and needs hands-on assistance for all phases of the ADL every time the activity is attempted. Refer to OAR 411-015-0006 for the
        complete definition for each ADL.
      </span>
      </div>
    </form>
  </div>
</div>
