<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome to Synkwise app</title>
</head>
<body>
    <img src="{appLogoURL}assets/logo.png" height="80" /><br /><br />
    <div style="border-top:3px solid #22BCE5">&nbsp;</div>
    <span style="font-family:Arial;font-size:10pt">
        Hello <b>{UserName}</b>,<br /><br />
        Thank you for your interest in SYNKWISE app. To finish your registration, please click on
        the link <a style="color:#22BCE5" href="{Url}">complete registration.</a><br />

        <br /><br />
        <p style="margin-bottom: 0px;">Thank you,</p>
        <span>We appreciate the opportunity to service you.</span>
    </span>
</body>
</html>