<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome to Synkwise app</title>
</head>
<body>
    <img src="{appLogoURL}assets/logo.png"  height="80"/><br /><br />
    <div style="border-top:3px solid #22BCE5">&nbsp;</div>
    <span style="font-family:Arial;font-size:10pt">
        Hello <b>{UserName}</b>,<br /><br />
        You are invited to use the SYNKWISE app. Please start your registration by clicking on
        this link <a style="color:#22BCE5" href="{Url}">start registration.</a><br /> <br />
        <b>* This link will expire in {expirationDays} day(s).</b>

        <br /><br />
        <p style="margin-bottom: 0px;">Thank you,</p>
        <span>We appreciate the opportunity to service you.</span>
    </span>
</body>
</html>