<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Forgot Password</title>
</head>
<body>
    <img src="{appLogoURL}assets/logo.png" height="80"/><br /><br />
    <div style="border-top:3px solid #22BCE5">&nbsp;</div>
    <span style="font-family:Arial;font-size:10pt">
        Hello <b>{UserName}</b>,<br /><br />
        You have requested to update your password for the Synkwise app.<br />
        Please reset your password by click on this url: <a style="color:#22BCE5" href="{Url}">Reset Password</a><br />
        
        <br /><br />
        <p style="margin-bottom: 0px;">Thank you,</p>
        <span>We appreciate the opportunity to service you.</span>
    </span>
</body>
</html>